<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_EstimatedDelivery>
            <version>1.4.0</version>
        </Meanbee_EstimatedDelivery>
    </modules>
    <global>
        <models>
            <meanbee_estimateddelivery>
                <class>Meanbee_EstimatedDelivery_Model</class>
                <resourceModel>meanbee_estimateddelivery_resource</resourceModel>
            </meanbee_estimateddelivery>
            <meanbee_estimateddelivery_resource>
                <class>Meanbee_EstimatedDelivery_Model_Resource</class>
                <entities>
                    <estimateddelivery>
                        <table>meanbee_estimateddelivery</table>
                    </estimateddelivery>
                    <estimateddelivery_method>
                        <table>meanbee_estimateddelivery_method</table>
                    </estimateddelivery_method>
                </entities>
            </meanbee_estimateddelivery_resource>
        </models>
        <resources>
            <meanbee_estimateddelivery_setup>
                <setup>
                    <module>Meanbee_EstimatedDelivery</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </meanbee_estimateddelivery_setup>
        </resources>
        <blocks>
            <meanbee_estimateddelivery>
                <class>Meanbee_EstimatedDelivery_Block</class>
            </meanbee_estimateddelivery>
        </blocks>
        <helpers>
            <meanbee_estimateddelivery>
                <class>Meanbee_EstimatedDelivery_Helper</class>
            </meanbee_estimateddelivery>
        </helpers>
        <events>
            <sales_quote_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>meanbee_estimateddelivery/observer</class>
                        <method>saveQuoteBefore</method>
                    </save_before>
                </observers>
            </sales_quote_save_before>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <delivery_slot>
                    <to_order>*</to_order>
                </delivery_slot>
                <dispatch_date>
                    <to_order>*</to_order>
                </dispatch_date>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <meanbee_estimateddelivery before="Mage_Adminhtml">Meanbee_EstimatedDelivery</meanbee_estimateddelivery>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <meanbee_estimateddelivery>
                    <file>meanbee/estimated_delivery.xml</file>
                </meanbee_estimateddelivery>
            </updates>
        </layout>
        <menu>
            <catalog>
                <children>
                    <meanbee_estimateddelivery translate="title">
                        <title>Manage Estimated Delivery Dates</title>
                        <action>adminhtml/estimateddelivery/index</action>
                        <sort_order>101</sort_order>
                    </meanbee_estimateddelivery>
                </children>
            </catalog>
        </menu>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <meanbee_estimateddelivery>
                    <file>meanbee/estimated_delivery.xml</file>
                </meanbee_estimateddelivery>
            </updates>
        </layout>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Meanbee_EstimatedDelivery/>
            </modules>
        </suite>
    </phpunit>
</config>
